# Created by .ignore support plugin (hsz.mobi)
.idea

/target
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__ch_qos_logback_logback_access_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_3_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_guava_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_joda_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_afterburner_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_9_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_9_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_0_18.xml
.idea/libraries/Maven__com_google_guava_guava_23_1_jre.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/libraries/Maven__com_papertrail_profiler_1_0_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_configuration_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_core_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_jackson_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_jersey_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_jetty_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_lifecycle_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_logging_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_metrics_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_request_logging_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_servlets_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_util_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_dropwizard_validation_1_2_2.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_annotation_3_2_5.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_core_3_2_5.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_healthchecks_3_2_5.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_jersey2_3_2_5.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_jetty9_3_2_5.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_json_3_2_5.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_jvm_3_2_5.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_logback_3_2_5.xml
.idea/libraries/Maven__io_dropwizard_metrics_metrics_servlets_3_2_5.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
.idea/libraries/Maven__joda_time_joda_time_2_9_9.xml
.idea/libraries/Maven__net_sourceforge_argparse4j_argparse4j_0_7_0.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_6.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_continuation_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_servlets_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_4_7_v20170914.xml
.idea/libraries/Maven__org_eclipse_jetty_toolchain_setuid_jetty_setuid_java_1_0_3.xml
.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_5_0_b32.xml
.idea/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_5_0_b32.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_5_0_b32.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_5_0_b32.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_5_0_b32.xml
.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
.idea/libraries/Maven__org_glassfish_javax_el_3_0_0.xml
.idea/libraries/Maven__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_25_1.xml
.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_2_25_1.xml
.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_core_2_25_1.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_25_1.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_25_1.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_25_1.xml
.idea/libraries/Maven__org_glassfish_jersey_ext_jersey_bean_validation_2_25_1.xml
.idea/libraries/Maven__org_glassfish_jersey_ext_jersey_metainf_services_2_25_1.xml
.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_jaxb_2_25_1.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_4_1_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_21_0_GA.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_log4j_over_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_18.xml
DropwizardAPI/target/
*.class
DropwizardAPI/target/classes/banner\.txt
workshop-api/src/main/java/META-INF/MANIFEST.MF
