.mat-column-delete  {
    flex: 0.25!important;
}

.mat-column-barcode, .mat-column-year, .mat-column-price {
    flex: 0.35!important;
}

.mat-column-delete .delete-button {
    padding: 0;
    height: 30px;
    width: 30px;
}

.mat-column-delete .delete-button .material-icons {
    font-size: 1.2em;
    line-height: 30px;
}

.mat-column-delete .delete-button {
    float: right;
}

.mat-cell input {
    width: 100%;
}
