<div class="content">

    <h1>Admin</h1>

    <p>Welkom in de admin omgeving!<br />
        Hier kun je producten, bestellingen, gebruikers bekijken, aanpassen en verwijderen.</p>

    <nav id="admin-menu">

        <button mat-raised-button routerLink="/producten">Producten</button>
        <button mat-raised-button routerLink="/bestellingen">Bestellingen</button>
        <button mat-raised-button routerLink="/gebruikers">Gebruikers</button>

    </nav>

    <!--<div class="content-wrap">-->

        <!--<app-admin-product *ngIf="selectedMenuItem.endsWith('product')"></app-admin-product>-->
        <!--<app-admin-order *ngIf="selectedMenuItem.endsWith('order')"></app-admin-order>-->
        <!--<app-admin-user *ngIf="selectedMenuItem.endsWith('user')"></app-admin-user>-->

    <!--</div>-->



</div>
