<div class="content">
    <h1>Bestellingen</h1>

    <div class="order-list mat-elevation-z8" *ngIf="hasData()">

        <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="orderNr">
                <mat-header-cell *matHeaderCellDef>Bestelnummer</mat-header-cell>
                <mat-cell *matCellDef="let element">#{{ element.order.orderNr }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="user">
                <mat-header-cell *matHeaderCellDef>Gebruiker</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ (element.user | async)?.emailAddress }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>Datum en tijd</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.order.datetime }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

    </div>

</div>
