
.mat-column-delete {
    flex: 0.25!important;
}

.mat-column-delete .delete-button {
    padding: 0;
    height: 30px;
    width: 30px;
}

.mat-column-delete .delete-button .material-icons {
    font-size: 1.2em;
    line-height: 30px;
}
