header {
    padding: 15px 40px;
    background: #b8566d;
    box-shadow: 0 3px 15px -3px rgba(0,0,0,.1);
    height: 100px;
}

#logo, #logo img {
    height: 100%;
    width: auto;
}

#logo {
    padding: 6px 6px 6px 0;
}

#logo h1 {
    padding: 0;
}

#shopping-cart-button {
    width: 60px;
    margin-left: 40px;
    position: relative;
}

#menu-wrap {
    float: right;
    height: 100%;
}

#logo, #user-menu, #main-menu {
    float: left;
    height: 100%;
}

#user-menu div, #main-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

header button {
    margin-left: 20px;
}

#logout-button, #login-button {
    background: #3a1c40;
    color: white!important;
    padding: 3.5px 15px;
}

#profiel-button {
    background: none;
    color: #adebf8;
    box-shadow: none;
    padding: 0;
}

#profiel-button i {
    font-size: 40px;
}

#profiel-button i:hover {
    color: #ffd740;
}

#shop-count {
    position: absolute;
    top: 6px;
    right: 6px;
}

@media all and (max-width: 768px) {

    .welcome {
        display: none;
    }

}

@media all and (max-width: 520px) {

    header {
        padding: 15px 20px;
    }

    #logo {
        width: 120px;
    }

    #logo img {
        width: 100%;
        height: auto;
    }

    #shopping-cart-button {
        margin-left: 20px;
    }

}

@media all and (max-width: 440px) {

    header {
        height: 80px;
    }

    #profiel-button {
        margin-left: 0!important;
    }

    #logout-button, #login-button {
        font-size: 0.9em;
        margin-left: 10px;
        padding: 1px 4px;
    }

    #shopping-cart-button {
        padding: 5px;
        margin-left: 10px;
        width: 50px;
    }

    #logo {
        width: 100px;
    }

    header button {
        margin-left: 10px;
    }

}

@media all and (max-width: 360px) {

    header {
        padding: 15px;
    }

    #logo {
        width: 90px;
        padding-top: 10px;
    }

}
