<div *ngIf="authenticated" class="content">

    <h1>Mijn profiel</h1>

    <div class="content-wrap">

        <table>
            <tr>
                <td>Naam</td>
                <td>{{user.fullName}}</td>
            </tr>
            <tr>
                <td>E-mailadres</td>
                <td>{{user.emailAddress}}</td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td>{{user.postcode}}</td>
            </tr>
            <tr>
                <td>Huisnummer</td>
                <td>{{user.streetnumber}}</td>
            </tr>
        </table>

        <button id="delete-account-button" mat-raised-button (click)="openDeleteAccount()">Account verwijderen</button>

        <button id="change-profile-button" (click)="openChangeUserData()" mat-raised-button>Gegevens wijzigen</button>

    </div>

    <div *ngIf="actionChangeUserDate" id="change-user-data" class="mat-elevation-z8 module">

        <h1>Wijzig jouw gegevens</h1>

        <form name="change-user-data-form" id="change-user-data-form"
              #userDataForm="ngForm" (ngSubmit)="editUser()" class="user-form">

            <div class="form-group">
                <label for="fullname">Naam</label>
                <input matInput autofocus id="fullname" name="fullname"
                       required [(ngModel)]="user.fullName" #fullname="ngModel" />
            </div>
            <div class="form-group">
                <label for="email">E-mailadres</label>
                <input name="email" id="email"
                       required [(ngModel)]="user.emailAddress" #email="ngModel" />
            </div>
            <div class="form-group">
                <label for="postcode">Postcode</label>
                <input name="postcode" id="postcode"
                       required [(ngModel)]="user.postcode" #postcode="ngModel" />
            </div>
            <div class="form-group">
                <label for="streetnumber">Straatnummer</label>
                <input id="streetnumber" name="streetnumber"
                       required [(ngModel)]="user.streetnumber" #streetnumber="ngModel" />
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input type="password" id="password" name="password"
                       required [(ngModel)]="user.password" #password="ngModel" />
            </div>

            <div class="form-group">
                <button type="submit" mat-raised-button class="button big-button">
                    Sla gegevens op
                </button>
            </div>

        </form>

        <button class="close-button" (click)="closeChangeUserData()">
            <i class="material-icons">close</i>
        </button>

    </div>

    <h1>Bestellingen</h1>

    <div class="content-wrap" >

        <p *ngIf="!hasData()">Er zijn nog geen bestellingen</p>

        <div class="order-list mat-elevation-z8" *ngIf="hasData()">

            <mat-table #table [dataSource]="dataSource">

                <ng-container matColumnDef="orderNr">
                    <mat-header-cell *matHeaderCellDef>Bestelnummer</mat-header-cell>
                    <mat-cell *matCellDef="let element">#{{ element.orderNr }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Datum en tijd</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.datetime }}</mat-cell>
                </ng-container>

                <ng-container id="delete" matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button class="delete-button" (click)="cancelOrder(element.orderNr)">
                            <i class="material-icons">close</i>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

        </div>

        <p class="feedback">
            {{ orderService.feedbackString }}
        </p>

    </div>

    <div *ngIf="actionDeleteAccount" id="delete-account" class="mat-elevation-z8 module">

        <h1>Weet je zeker dat je jouw account wil verwijderen?</h1>

        <button mat-raised-button (click)="deleteAccount()">Ja, verwijder mijn account</button>
        <button mat-raised-button (click)="closeDeleteAccount()">Nee</button>

        <button class="close-button" (click)="closeDeleteAccount()">
            <i class="material-icons">close</i>
        </button>

    </div>

</div>

<div *ngIf="!authenticated" class="content">

    <h1>Oeps, je moet eerst <a routerLink="/login" class="link">inloggen</a></h1>

</div>
